.CreatePanel {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 80%;
    width: 80%;

    background-color: #1b2322;
    text-align: center;
    padding: 5%;
    display: inline;
}
.NameGame {
    
}
.inputImage {
    height: 10%;
    width: 10%;
}

.inputImg {
    margin-left: 25%;
    width: 50%;
    width: 50%;
    height: 50%;
    padding-left: 5%;
}

.inputImg input {
    position: relative;
    font-size: 1.5rem;
    font-family: cursive sans-serif;
    background-color: #00695c;
    color: #282c34;
    border: none;
    outline: 0;
    outline-offset: 0;
}

.textInUploadImage {
    margin-top: 6rem;
}

