.CreatePanel {
    position: absolute;
    top: 20%;
    left: 5%;
    height: auto;
    width: 80%;

    text-align: center;
    padding: 5%;
    display: inline;
    margin-bottom: 2rem;
}
.NameGame {
    
}
.inputImage {
    height: 10%;
    width: 10%;
}

.inputImg {
    margin-left: 25%;
    width: 50%;
    width: 50%;
    height: 50%;
    padding-left: 5%;
}

.inputImg input {
    position: relative;
    font-size: 1.5rem;
    font-family: cursive sans-serif;
    background-color: #00695c;
    color: #282c34;
    border: none;
    outline: 0;
    outline-offset: 0;
}

.textInUploadImage {
    margin-top: 6rem;
}
textarea {
    background-color: #00695c;
    color: #282c34;
    font-family: cursive sans-serif;
    outline: none;
    font-size: 1.1rem;
    border: #112b26 solid 0.2rem;
    border-radius: 2%;
}
.discription {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    height: 30%;
}

