@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@100;300;400&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    background-color: #0d0d0d;
}
@keyframes logoAnim {
    from{filter: brightness(30%)}
    from{margin-left: -1rem}
    to{filter: brightness(100%)}
    to{margin-left: 1rem}
}
.logo{
    transition: 1s;
    color: #004d40;
    display: inline-flex;
    font-family: 'Comfortaa', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin-left: 1rem;
    animation: logoAnim 5s;
}

.logoname{
    margin-left: 1rem;
}
.navLink{
    color: #00695c;
    font-size: 30px;
    font-family: 'Play', sans-serif;
    text-align: center; margin-left: 5rem; margin-right: 5rem;
    margin-bottom: 4rem;
}

.Profile{
    float: right;
    margin-right: 1rem;
}